<div class="w-100">
    <app-navbar></app-navbar>
</div>
<div class="w-100">
    <div class="container">
        <p>Hello World!</p>

        <div [ngSwitch]="role">
            <div *ngSwitchCase="'User'">
                Welcome User!
            </div>
            <div *ngSwitchCase="'Admin'">
                Welcome Admin
            </div>
            <div *ngSwitchDefault>
                You are not authorized to view this page!
            </div>

            <app-rooms></app-rooms>
        </div>
    </div>
</div>